<script>
if(window.location.pathname == "/pages/daily-deals"){
  $('#daily-deals').before('<div class="page-loading" style="text-align: center;"><div class="lds-dual-ring"></div><p style="color: #c41949; text-align: center;">Loading another amazing group of deals, please wait..</p></div>');
}
</script>

<style>
  .lds-dual-ring {
    display: inline-block;
    width: 46px;
    height: 46px
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #c41949;
    border-color: #c41949 transparent #c41949 transparent;
    animation: lds-dual-ring 1.2s linear infinite
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }
</style>