<div id='forum_forum_feed_content'>
<ul class='forum_posts_list'>
<li class="forum_post">
<div class="forum_profile_picture"><a href="https://www.wigs.org/discussion/1480/cameron-rene-of-paris"><img src="https://1mk51qxqmxwb13zxu-cdn.plushcontent.com/uploads/userpics/784/nY0Y5V5RQ6ULX.png"></a></div>
<div class="forum_title"><a href="https://www.wigs.org/discussion/1480/cameron-rene-of-paris">Cameron, Rene of Paris</a></div>
<div class="forum_creator_date">Latest by Samantha - 2 hours ago</div>
</li>
<li class="forum_post">
<div class="forum_profile_picture"><a href="https://www.wigs.org/discussion/1669/hair-loss-journey-share-your-advice-experience"><img src="https://1mk51qxqmxwb13zxu-cdn.plushcontent.com/uploads/userpics/014/nE1RBA1XL62N9.png"></a></div>
<div class="forum_title"><a href="https://www.wigs.org/discussion/1669/hair-loss-journey-share-your-advice-experience">Hair Loss Journey- Share your advice/ experience!</a></div>
<div class="forum_creator_date">Latest by Elizabeth Wigs com Team - 3 days ago</div>
</li>
<li class="forum_post">
<div class="forum_profile_picture"><a href="https://www.wigs.org/discussion/1667/extra-large-wigs-for-women"><img src="https://1mk51qxqmxwb13zxu-cdn.plushcontent.com/uploads/userpics/866/nZ7UAG3EH3SII.png"></a></div>
<div class="forum_title"><a href="https://www.wigs.org/discussion/1667/extra-large-wigs-for-women">Extra Large Wigs for Women</a></div>
<div class="forum_creator_date">Latest by Faye18 - 3 days ago</div>
</li>
<li class="forum_post">
<div class="forum_profile_picture"><a href="https://www.wigs.org/discussion/1561/fresh-chic"><img src="https://1mk51qxqmxwb13zxu-cdn.plushcontent.com/uploads/userpics/784/nY0Y5V5RQ6ULX.png"></a></div>
<div class="forum_title"><a href="https://www.wigs.org/discussion/1561/fresh-chic">Fresh Chic</a></div>
<div class="forum_creator_date">Latest by Samantha - 1 week ago</div>
</li>
<li class="forum_post">
<div class="forum_profile_picture"><a href="https://www.wigs.org/discussion/1651/silicone-sheet-to-hold-wig"><img src="https://1mk51qxqmxwb13zxu-cdn.plushcontent.com/uploads/userpics/149/n2HUV4KV5WMBV.png"></a></div>
<div class="forum_title"><a href="https://www.wigs.org/discussion/1651/silicone-sheet-to-hold-wig">silicone sheet to hold wig</a></div>
<div class="forum_creator_date">Latest by Happy to ve Retired - 2 weeks ago</div>
</li>
<li class="forum_post">
<div class="forum_profile_picture"><a href="https://www.wigs.org/discussion/1662/hh-wearer-but-sc-synthetic-curious-"><img src="https://1mk51qxqmxwb13zxu-cdn.plushcontent.com/uploads/userpics/597/n2ZPJHR0UPDNU.jpeg"></a></div>
<div class="forum_title"><a href="https://www.wigs.org/discussion/1662/hh-wearer-but-sc-synthetic-curious-">HH wearer—but SC (synthetic curious)! :)</a></div>
<div class="forum_creator_date">Latest by HairLove - 2 weeks ago</div>
</li>
</ul>
</div>
