<div class="extensions-header-container">
	<div class="row">
    	<div class="he-left desktop-5 tablet-12 mobile-12">
          &nbsp;
      	</div>
      	<div class="he-right desktop-7 tablet-12 mobile-12">
          <h1>{{page.title}}</h1>
          <p>{{ page.content }}</p>
          <hr class="wh-break">
		  <ul class="header_nav">
            <li><a href="#">Women's Wigs</a></li>
            <li><a href="#">Men's Wigs</a></li>
            <li><a href="#">Kid's Wigs</a></li>
            <li><a href="#">Human Hair Wigs</a></li><br/>
            <li><a href="#">Synthetic Wigs</a></li>
            <li><a href="#">Lace Front Wigs</a></li>
            <li><a href="#">African American Wigs</a></li>
            <li><a href="#">New Arrivals</a></li>
          </ul>
      	</div>
  	</div>
</div>
