<ul class="megamenu">          
<div class="mega-container">                        
<span class="desktop-3 tablet-hide mm-image">              
<a href="/pages/hair-toppers-101">                
<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/placeHolder.gif?v=1587744508" class="lazyload" loading="lazy" data-src="https://cdn.shopify.com/s/files/1/1410/9094/files/Toppers_New-to-Toppers.jpg?v=1586815464">              
</a>            
</span>                        
<span class="desktop-9 tablet-6">
<li class="desktop-4">
<h4>SHOP HAIR TOPPERS</h4>  
<ul class="mega-stack">
<li>
<a href="/pages/shop-hair-toppers#coverage">Shop By Coverage</a>
</li>
<li>
<a href="/pages/shop-hair-toppers#length">Shop By Length</a>
</li>
<li>
<a href="/pages/shop-hair-toppers#fiber">Shop By Hair Fiber</a>
</li>
<li>
  <a href="/pages/shop-hair-toppers">Toppers Guide</a>
  <hr style="margin-top:5px;width:75%">
</li>
<li>
<a href="/collections/top-pieces-toppers">All Hair Toppers</a>
</li>
<li>
<a href="/collections/womens-top-pieces-toppers">Women's Hair Toppers</a>
</li>
<li>
<a href="/collections/mens-hairpieces">Men's Hair Toppers</a>
</li>
</ul>
</li>
<li class="desktop-4">
<h4>SHOP HAIRPIECES</h4>  
<ul class="mega-stack">
<li>
<a href="/collections/hair-extensions">Hair Extensions</a>
</li>
<li>
<a href="/collections/clip-in-bangs-fringes">Bangs &amp; Fringes</a>
</li>
<li>
<a href="/collections/ponytails">Ponytails</a>
</li>
<li>
<a href="/collections/hair-buns">Hair Buns</a>
</li>
<li>
<a href="/collections/hair-wraps">Hair Wraps</a>
</li>
<li>
<a href="/collections/headbands">Headbands</a>
</li>
<li>
<a href="/collections/falls-half-wigs">Falls &amp; Half Wigs</a>
</li>
<li>
<a href="/collections/hats-headcovers">Hats &amp; Headcovers</a>
</li>
<li>
<a href="/collections/hairpieces">All Hairpieces</a>
</li>
</ul>
</li>
<li class="desktop-4">
<h4>HAIRPIECE EDUCATION</h4>  
<ul class="mega-stack">
<li>
<a href="/pages/hairpieces-thinning-hair-loss">Using Hairpieces for Hair Loss</a>
</li>
<li>
<a href="/pages/hairpiece-hair-extension-attachment-methods">Hairpiece Attachment Methods</a>
</li>
<li>
<a href="/pages/womens-hair-loss-solutions">Women's Hair Loss Solutions</a>
</li>
<li>
<a href="/pages/caring-for-wearable-hair">How to Care for your Hairpiece</a>
</li>
<li>
<a href="/pages/the-differences-between-human-hair-synthetic-hair">Human Hair vs. Synthetic Hair</a>
</li>
</ul>
</li>                            
</span>       
</div>
</ul>    #!
<ul class="megamenu">  
<div class="mega-container">                        
<span class="desktop-3 tablet-hide mm-image">              
<a href="/pages/brands"> 
<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/placeHolder.gif?v=1587744508" class="lazyload" loading="lazy" data-src="https://cdn.shopify.com/s/files/1/1410/9094/files/1611_dropdown_top_brands_5.jpg">               
</a>           
</span>                        
<span class="desktop-9 tablet-6">
<li class="desktop-4">
<h4>A - F</h4>  
<ul class="mega-stack">
<li>
<a href="/collections/amore">AMORE</a>
</li>
<li>
<a href="/collections/amy-gibson">AMY GIBSON</a> 
</li>
<li>
<a href="/collections/beautimark">BEAUTIMARK</a>
</li>
<li> 
<a href="/collections/belletress-wigs">BELLETRESS</a>
</li> 
<li>
<a href="/collections/easihair">EASIHAIR &amp; EASIPIECES</a>
</li>
<li>
<a href="/collections/ellen-wille">ELLEN WILLE</a>
</li>
<li>
<a href="/collections/envy">ENVY</a>
</li>
<li>
<a href="/collections/estetica">ESTETICA</a>
</li>
<li>
<a href="/collections/forever-young-wigs-hairpieces">FOREVER YOUNG</a>
</li>
</ul>
</li>
<li class="desktop-4">
<h4>G - N</h4>  
<ul class="mega-stack">
<li>
<a href="/collections/gabor">GABOR</a>
</li>
<li>
<a href="/collections/hairdo">HAIRDO</a>
</li>
<li>
<a href="/collections/headline-it-no-sweat-wig-liners">HEADLINE IT</a>
</li>
<li>
<a href="/collections/him">HIM</a>
</li>
<li>
<a href="/collections/illusions">ILLUSIONS</a>
</li>
<li>
<a href="/collections/jon-renau-wigs-hairpieces">JON RENAU</a>
</li>
<li>
<a href="/collections/noriko">NORIKO</a>
</li>
</ul>
</li>
<li class="desktop-4">
<h4>P - Z</h4>  
<ul class="mega-stack">
<li>
<a href="/collections/pop-by-hairdo">POP</a>
</li>
<li>
<a href="/collections/raquel-welch">RAQUEL WELCH</a>
</li>
<li>
<a href="/collections/rene-of-paris">RENE OF PARIS</a>
</li>
<li>
<a href="/collections/tressallure">TRESSALLURE</a>
</li>  
<li>
<a href="/collections/vivica-fox">VIVICA FOX</a>
</li>
<li>
<a href="/collections/walker-tape-wig-glue-adhesive-scalp-protector">WALKER TAPE</a>
</li>
<li>
<a href="/collections/wig-pro">WIG PRO</a>
</li>
</ul>
</li>
</span>
</div>
</ul>  #!
<ul class="megamenu">  
<div class="mega-container">                        
<span class="desktop-3 tablet-hide mm-image">              
<a href="/pages/caring-for-wearable-hair">                
<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/placeHolder.gif?v=1587744508" class="lazyload" loading="lazy" data-src="https://cdn.shopify.com/s/files/1/2636/2774/files/brands.jpg">              
</a>            
</span>                        
<span class="desktop-9 tablet-6">
<li class="desktop-4">
<h4>SHOP HAIR CARE PRODUCTS</h4>  
<ul class="mega-stack">
<li>
<a href="/collections/human-hair-care">Human Hair Care</a>
</li>
<li>
<a href="/collections/synthetic-hair-care">Synthetic Hair Care</a>
</li>
<li>
<a href="/collections/hair-care-products">All Hair Care &amp; Styling Products</a>
</li>
</ul>
</li>
<li class="desktop-4">
<h4>SHOP ACCESSORIES</h4>  
<ul class="mega-stack">
<li>
<a href="/collections/brushes-combs">Brushes &amp; Combs</a>
</li>
<li>
<a href="/collections/caps-liners">Caps, Liners &amp; Bands</a>
</li>
<li>
<a href="/collections/clips">Clips</a>
</li>
<li>
<a href="/collections/color-rings">Color Rings</a>
</li>
<li>
<a href="/collections/heat-tools">Heat Tools</a>
</li>
<li>
<a href="/collections/tapes-adhesives">Tapes &amp; Adhesives</a>
</li>
<li>
<a href="/collections/amy-gibson-wig-carry-bag">Wig Storage &amp; Travel</a>
</li>
<li>
<a href="/products/wig-secure-accessory-amy-gibson">Wig Band <span style="width: 40px; height: 12px;display: inline-block;font-size: 10px;color: #c41949; text-align: center;padding: 0;margin: 0;line-height: 12px;">NEW</span></a>
</li>
</ul>
</li>
<li class="desktop-4">
<h4>HOW TO CARE FOR YOUR HAIR</h4>  
<ul class="mega-stack">
<li>
<a href="/pages/how-to-wash-a-wig">How to Wash a Wig</a>
</li>
<li>
<a href="/pages/caring-for-wearable-hair">How to Care for Wigs<br> Hairpieces &amp; Extensions</a>
</li>
<li>
<a href="/pages/the-differences-between-human-hair-synthetic-hair">The Difference Between<br /> Human &amp; Synthetic Hair
</a>
</li>
<li>
<a href="/pages/wig-tips-from-the-wig-experts">Expert Tips</a>
</li>
</ul>
</li>                               
</span>          
</div>        
</ul>