{%comment %}
{% include 'wigslanding' %}
<div id="page" class="desktop-12 tablet-6 mobile-3"></div>

{% include 'wigslanding' %}
<div id="page" class="desktop-12 tablet-6 mobile-3">
<h1>{{ page.title }}</h1>
{{ page.content }}
</div>

{%endcomment%}





<style><!--
.smcx-widget,smcx-widget > .smcx-iframe-container  {max-width:none;}
--></style><!-- <div class="guidelines-product-finder" data-product-finder-id="586" data-product-finder-store-id="457"></div> --><script>// <![CDATA[
(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src=["https:"===location.protocol?"https:":"http:","{{ 'smjs.js' | asset_url }}"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");

(function($) {
    var form_interval = setInterval(function() {
        var survey = $('.smcx-widget');

        if (survey.length == 1) {
            survey.css({'max-width':'none',"height":"3500px"});
            $('.smcx-iframe-container').css({'max-width':'none',"height":"3500px"});
            clearInterval(form_interval);
        }

    }, 500)
})(jQuery)
// ]]></script>


<!-- surveymonk test -->

<!-- surveymonk test -->