<div id="page" class="desktop-12 tablet-6 mobile-3">
<style>
    .homepage-section h2{margin-top:25px;}
  #mobile-banners-container {display: flex;flex-wrap:wrap;justify-content:space-around;}
  @media only screen and (min-width: 740px){
  
    #mobile-banners-container {display:none;}
  
  }
	
  </style>

  <h1>Valentine's Day Sale 2019</h1>

  
  

  
  
<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/1902_saleBanner_psweloveyou_30.jpg?152078820041887755 " class="">
<p><strong>Valentine's Day Sale Details:</strong></p>
<p>Wigs.com Valentine's Day Sale Starts Now!<strong>&nbsp;</strong>Shop the deals on wigs, hairpieces, hair toppers, hair extensions and more.</p>
<p><span>Also you can shop the&nbsp;<em>FIRST <span style="text-decoration: underline;"><a href="https://www.wigs.com/collections/new-arrivals" target="_blank" title="Shop New Arrivals" rel="noopener noreferrer"><span style="color: #c31c4b; text-decoration: underline;">New Arrivals</span></a></span> of 2019</em>&nbsp;</span><span>and meet our new brand - <span style="text-decoration: underline;"><span style="color: #ff9900;"><a href="https://www.wigs.com/collections/belletress-wigs" target="_blank" title="Shop Belle Tress" style="color: #c31c4b;" rel="noopener noreferrer"><em>Belle Tress</em></a></span></span>.</span></p>
<p>Receive <b>30% OFF</b> your ENTIRE order. Use coupon code: <b>PS30</b>&nbsp;at checkout.</p>
<p>(One coupon code per order (free shipping not included). This sale ends&nbsp;February 15th, 2019 at 11:59 PM CST. Discounts are not applicable to donations, color rings, or shipping and handling charges.)</p>
<p>&nbsp;</p>


  
  




  
  



  
  




<div class="row homepage-section">  
  
  <div class="homepage-section desktop-12 tablet-6 mobile-3">
<!--     <h2><a href="/collections/belle-tress-valentines-day-collection">New Arrivals</a></h2>  -->
  
  
  <h2>Valentine's Day Edit | <a href="/collections/wigs" style="text-decoration:underline;font-size:.6em;">Shop All Wigs &rsaquo;</a></h2>
  
  

  
  
	
  <div id="product-loop">      
    
    
    <div class="product-index desktop-3 first tablet-half mobile-half" data-alpha="Irish Coffee | Synthetic Lace Front Wig" data-price="24085">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/belle-tress-valentines-day-collection/products/irish-coffee-synthetic-wig-belle-tress" title="Irish Coffee | Synthetic Lace Front Wig">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0027s_0002_irish_coffee_mocha_with_cream_3_large.jpg?v=1548278128" alt="IRISH COFFEE by BELLETRESS in HONEY WITH CHAI LATTE | Light Golden Brown with Pale Golden Blonde &amp; Medium Golden Blonde Highlights on Top, Medium Brown Roots" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0027s_0002_irish_coffee_mocha_with_cream_3_large.jpg?v=1548278128" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0027s_0002_irish_coffee_mocha_with_cream_3_large.jpg?v=1548278128" alt="IRISH COFFEE by BELLETRESS in HONEY WITH CHAI LATTE | Light Golden Brown with Pale Golden Blonde &amp; Medium Golden Blonde Highlights on Top, Medium Brown Roots">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/belle-tress-valentines-day-collection/products/irish-coffee-synthetic-wig-belle-tress"> 
      <p>Irish Coffee | Synthetic Lace Front Wig  | 10 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$240.85</div>
      <div class="was">$283.35</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_2106970767471" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i></span><span class="spr-badge-caption">No reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
    
    <div class="product-index desktop-3 tablet-half mobile-half" data-alpha="Kona | Synthetic Lace Front Wig" data-price="24085">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/belle-tress-valentines-day-collection/products/kona-synthetic-wig-belletress" title="Kona | Synthetic Lace Front Wig">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0025s_0001_kona_honey_with_chai_latte_4_large.jpg?v=1548277603" alt="KONA by BELLETRESS in HONEY WITH CHAI LATTE" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0025s_0001_kona_honey_with_chai_latte_4_large.jpg?v=1548277603" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0025s_0001_kona_honey_with_chai_latte_4_large.jpg?v=1548277603" alt="KONA by BELLETRESS in HONEY WITH CHAI LATTE">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/belle-tress-valentines-day-collection/products/kona-synthetic-wig-belletress"> 
      <p>Kona | Synthetic Lace Front Wig  | 10 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$240.85</div>
      <div class="was">$283.35</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_2074252181615" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i></span><span class="spr-badge-caption">No reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
    
    <div class="product-index desktop-3 tablet-half mobile-half" data-alpha="Columbia | Synthetic Lace Front Wig" data-price="24340">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/belle-tress-valentines-day-collection/products/columbia-synthetic-wig-belletress" title="Columbia | Synthetic Lace Front Wig">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0032s_0001_columbia_sugar_4_large.jpg?v=1548183294" alt="COLUMBIA by BELLETRESS in SUGAR COOKIE WITH HAZELNUT | Caramel Honey Blonde with Medium Golden Butterscotch Blonde Highlights, Medium Brown Roots" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0032s_0001_columbia_sugar_4_large.jpg?v=1548183294" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0032s_0001_columbia_sugar_4_large.jpg?v=1548183294" alt="COLUMBIA by BELLETRESS in SUGAR COOKIE WITH HAZELNUT | Caramel Honey Blonde with Medium Golden Butterscotch Blonde Highlights, Medium Brown Roots">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/belle-tress-valentines-day-collection/products/columbia-synthetic-wig-belletress"> 
      <p>Columbia | Synthetic Lace Front Wig  | 10 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$243.40</div>
      <div class="was">$286.35</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_2105018941551" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i></span><span class="spr-badge-caption">No reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
    
    <div class="product-index desktop-3 last tablet-half mobile-half" data-alpha="Double Shot Bob | Synthetic Lace Front Wig" data-price="42700">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/belle-tress-valentines-day-collection/products/double-shot-bob-synthetic-wig-belletress" title="Double Shot Bob | Synthetic Lace Front Wig">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0031s_0003_Double_Shot_Bob_2_honey_with_chai_latte_large.jpg?v=1548178014" alt="DOUBLE SHOT BOB by BELLETRESS in HONEY WITH CHAI LATTE | Light Golden Brown with Pale Golden Blonde &amp; Meidum Golden Blonde Highlights on Top, Medium Brown Roots" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0031s_0003_Double_Shot_Bob_2_honey_with_chai_latte_large.jpg?v=1548178014" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_cafeCollection_0031s_0003_Double_Shot_Bob_2_honey_with_chai_latte_large.jpg?v=1548178014" alt="DOUBLE SHOT BOB by BELLETRESS in HONEY WITH CHAI LATTE | Light Golden Brown with Pale Golden Blonde &amp; Meidum Golden Blonde Highlights on Top, Medium Brown Roots">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/belle-tress-valentines-day-collection/products/double-shot-bob-synthetic-wig-belletress"> 
      <p>Double Shot Bob | Synthetic Lace Front Wig  | 10 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$427.00</div>
      <div class="was">$502.35</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_2104930631791" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i></span><span class="spr-badge-caption">No reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
  </div>     
</div> 
  
</div>
  
  
<div class="row homepage-section" style="
    border: none;
">  
<div>
    <h2 style="
    font-size: 1.4em;
    border: none;
    text-align: right;
    margin: 0 0 30px;
	padding-right: 35px;
"><a href="https://www.wigs.com/collections/belletress-wigs" style="text-decoration:underline;">Shop All Belletress ›</a></h2>
    </div>

  </div>


  




  
<div class="row homepage-section">  
  
  <div class="homepage-section desktop-12 tablet-6 mobile-3">
<!--     <h2><a href="/collections/custom-collection-jon-renau-california-blondes">New Arrivals</a></h2>  -->
  
  <h2><a href="/collections/smart-lace-human-hair-collection" style="text-decoration:underline;">Shop New Jon Renau California Blondes</a></h2>
  

  
  
	
  <div id="product-loop">      
    
    
    <div class="product-index desktop-3 first tablet-half mobile-half" data-alpha="Carrie Exclusive | Human Hair Lace Front Wig (Mono Top)" data-price="78880">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/custom-collection-jon-renau-california-blondes/products/carrie-exclusive-human-hair-wig-jon-renau" title="Carrie Exclusive | Human Hair Lace Front Wig (Mono Top)">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/resized_0006s_0002_Carrie-12FS12-Malibu-alt2_large.jpg?v=1549289187" alt="CARRIE by JON RENAU in 12FS12 MALIBU BLONDE | Lt Gold Brown, Lt Natural Gold Blonde &amp; Pale Natural Gold-Blonde Blend, Shaded w/ Lt Gold Brown" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_0006s_0002_Carrie-12FS12-Malibu-alt2_large.jpg?v=1549289187" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_0006s_0002_Carrie-12FS12-Malibu-alt2_large.jpg?v=1549289187" alt="CARRIE by JON RENAU in 12FS12 MALIBU BLONDE | Lt Gold Brown, Lt Natural Gold Blonde &amp; Pale Natural Gold-Blonde Blend, Shaded w/ Lt Gold Brown">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/custom-collection-jon-renau-california-blondes/products/carrie-exclusive-human-hair-wig-jon-renau"> 
      <p>Carrie Exclusive | Human Hair Lace Front Wig (Mono Top)  | 17 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$788.80</div>
      <div class="was">$928.00</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_9289779850" data-rating="4.05"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-half-alt" style="color: #c41949;"></i></span><span class="spr-badge-caption">40 reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
    
    <div class="product-index desktop-3 tablet-half mobile-half" data-alpha="Jennifer Exclusive Colors | Remy Human Hair Lace Front (Hand-Tied)" data-price="137360">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/custom-collection-jon-renau-california-blondes/products/jennifer-exclusive-remy-human-hair-jon-renau" title="Jennifer Exclusive Colors | Remy Human Hair Lace Front (Hand-Tied)">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/resized_0001s_0001_Jennifer-22F16S8-Venice-main_large.jpg?v=1549294062" alt="JENNIFER by JON RENAU in 22F16S8 VENICE BLONDE | Lt Ash Blonde &amp; Lt Natural Blonde Blend, Shaded w/ Med Brown" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_0001s_0001_Jennifer-22F16S8-Venice-main_large.jpg?v=1549294062" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_0001s_0001_Jennifer-22F16S8-Venice-main_large.jpg?v=1549294062" alt="JENNIFER by JON RENAU in 22F16S8 VENICE BLONDE | Lt Ash Blonde &amp; Lt Natural Blonde Blend, Shaded w/ Med Brown">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/custom-collection-jon-renau-california-blondes/products/jennifer-exclusive-remy-human-hair-jon-renau"> 
      <p>Jennifer Exclusive Colors | Remy Human Hair Lace Front (Hand-Tied)  | 18 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$1,373.60</div>
      <div class="was">$1,616.00</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_9289838218" data-rating="3.5"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i></span><span class="spr-badge-caption">4 reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
    
    <div class="product-index desktop-3 tablet-half mobile-half" data-alpha="Blake Petite | Remy Human Hair Lace Front Wig (HT)" data-price="206720">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/custom-collection-jon-renau-california-blondes/products/blake-petite-remy-human-hair-wig-jon-renau" title="Blake Petite | Remy Human Hair Lace Front Wig (HT)">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/JR-Blake-FS17101S18_main_large.jpg?v=1549288120" alt="BLAKE PETITE by JON RENAU in FS17/101S18 PALM SPRINGS BLONDE | Lt Ash Blonde w/ Pure White Natural Violet, Shaded w/ Dk Natural Ash Blonde" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/JR-Blake-FS17101S18_main_large.jpg?v=1549288120" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/JR-Blake-FS17101S18_main_large.jpg?v=1549288120" alt="BLAKE PETITE by JON RENAU in FS17/101S18 PALM SPRINGS BLONDE | Lt Ash Blonde w/ Pure White Natural Violet, Shaded w/ Dk Natural Ash Blonde">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/custom-collection-jon-renau-california-blondes/products/blake-petite-remy-human-hair-wig-jon-renau"> 
      <p>Blake Petite | Remy Human Hair Lace Front Wig (HT)  | 29 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$2,067.20</div>
      <div class="was">$2,432.00</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_84957233172" data-rating="5.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i></span><span class="spr-badge-caption">6 reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
    
    <div class="product-index desktop-3 last tablet-half mobile-half" data-alpha="Margot | Remy Human Hair Lace Front Wig (HT)" data-price="149600">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/custom-collection-jon-renau-california-blondes/products/margot-human-hair-wig-jon-renau" title="Margot | Remy Human Hair Lace Front Wig (HT)">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/resized_0008s_0001_Margot-FS24_102S12-LAGUNA-Main_large.jpg?v=1549291677" alt="MARGOT by JON RENAU in FS24/102S12 LAGUNA BLONDE | Lt Gold Brown w/ Pale Natural Gold Blonde Blend, Shaded w/ Med Brown" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_0008s_0001_Margot-FS24_102S12-LAGUNA-Main_large.jpg?v=1549291677" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_0008s_0001_Margot-FS24_102S12-LAGUNA-Main_large.jpg?v=1549291677" alt="MARGOT by JON RENAU in FS24/102S12 LAGUNA BLONDE | Lt Gold Brown w/ Pale Natural Gold Blonde Blend, Shaded w/ Med Brown">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/custom-collection-jon-renau-california-blondes/products/margot-human-hair-wig-jon-renau"> 
      <p>Margot | Remy Human Hair Lace Front Wig (HT)  | 30 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$1,496.00</div>
      <div class="was">$1,760.00</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_1350533316719" data-rating="5.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i></span><span class="spr-badge-caption">1 review</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
  </div>     
</div> 
  
  
</div>


  
  
  <div class="row homepage-section" style="
    border: none;
">  
<div>
    <h2 style="
    font-size: 1.4em;
    border: none;
    text-align: right;
    margin: 0 0 30px;
	padding-right: 35px;
"><a href="https://www.wigs.com/collections/jon-renau" style="text-decoration:underline;">Shop All Jon Renau ›</a></h2>
    </div>

  </div>

  
  <div class="row homepage-section">  
<div class="homepage-section desktop-12 tablet-6 mobile-3">
<!--     <h2><a href="/collections/custom-valentines-day-collection">New Arrivals</a></h2>  -->
  
  
  

  
  
	
  <div id="product-loop">      
    
    
    <div class="product-index desktop-3 first tablet-half mobile-half" data-alpha="Crushing on Casual | Synthetic Lace Front Wig (Mono Top)" data-price="33915">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/custom-valentines-day-collection/products/crushing-on-casual-wig-raquel-welch" title="Crushing on Casual | Synthetic Lace Front Wig (Mono Top)">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/Crushing_on_Casual_01_Front_large.jpg?v=1514579291" alt="CRUSHING ON CASUAL by Raquel Welch in SS44/60 SHADED SUGARED LICORICE | Salt Dark Brown with Subtle Warm Highlights  Roots" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/Crushing_on_Casual_01_Front_large.jpg?v=1514579291" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/Crushing_on_Casual_01_Front_large.jpg?v=1514579291" alt="CRUSHING ON CASUAL by Raquel Welch in SS44/60 SHADED SUGARED LICORICE | Salt Dark Brown with Subtle Warm Highlights  Roots">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/custom-valentines-day-collection/products/crushing-on-casual-wig-raquel-welch"> 
      <p>Crushing on Casual | Synthetic Lace Front Wig (Mono Top)  | 26 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$339.15</div>
      <div class="was">$399.00</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_10398382996" data-rating="3.5625"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i></span><span class="spr-badge-caption">16 reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
    
    <div class="product-index desktop-3 tablet-half mobile-half" data-alpha="Stepping Out | Synthetic Wig (Mono Part)" data-price="21165">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/custom-valentines-day-collection/products/stepping-out-mid-length-wig-gabor" title="Stepping Out | Synthetic Wig (Mono Part)">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/egstouta_03_lg_large.jpg?v=1516996049" alt="STEPPING OUT by Gabor in GL10-12 SUNLIT CHESTNUT | Rich Brown with Caramel Highlights" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/egstouta_03_lg_large.jpg?v=1516996049" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/egstouta_03_lg_large.jpg?v=1516996049" alt="STEPPING OUT by Gabor in GL10-12 SUNLIT CHESTNUT | Rich Brown with Caramel Highlights">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/custom-valentines-day-collection/products/stepping-out-mid-length-wig-gabor"> 
      <p>Stepping Out | Synthetic Wig (Mono Part)  | 28 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$211.65</div>
      <div class="was">$249.00</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_9324317386" data-rating="3.75"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i></span><span class="spr-badge-caption">12 reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
    
    <div class="product-index desktop-3 tablet-half mobile-half" data-alpha="High Fashion | Remy Human Hair Lace Front Wig (Hand-Tied)" data-price="165750">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/custom-valentines-day-collection/products/high-fashion-remy-human-hair-wig-raquel-welch" title="High Fashion | Remy Human Hair Lace Front Wig (Hand-Tied)">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/rwhghfsn_11_lg_large.jpg?v=1532638560" alt="HIGH FASHION by Raquel Welch in R29S+ GLAZED STRAWBERRY | Light Red with Strawberry Blonde Highlights" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/rwhghfsn_11_lg_large.jpg?v=1532638560" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/rwhghfsn_11_lg_large.jpg?v=1532638560" alt="HIGH FASHION by Raquel Welch in R29S+ GLAZED STRAWBERRY | Light Red with Strawberry Blonde Highlights">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/custom-valentines-day-collection/products/high-fashion-remy-human-hair-wig-raquel-welch"> 
      <p>High Fashion | Remy Human Hair Lace Front Wig (Hand-Tied)  | 14 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$1,657.50</div>
      <div class="was">$1,950.00</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_9279266506" data-rating="5.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i><i class="spr-icon spr-icon-star" style="color: #c41949;"></i></span><span class="spr-badge-caption">4 reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
    
    <div class="product-index desktop-3 last tablet-half mobile-half" data-alpha="Wynter | Synthetic Lace Front Wig" data-price="21600">       
      











  <div class="prod-container">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sale-item icn"></div>
    

    
    
   
    <div class="prod-image">
    <a href="/collections/custom-valentines-day-collection/products/wynter-synthetic-wig-estetica" title="Wynter | Synthetic Lace Front Wig">
      <div class="reveal">
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
	
    
<!--        <img src="//cdn.shopify.com/s/files/1/1410/9094/products/resized_0003_Wynter_M_large.jpg?v=1549388977" alt="WYNETR by ESTETICA in RH1488 | Dark Blonde w/Lightest Blonde Highlights" /> -->
      <img class="lazyload" width="360" src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_0003_Wynter_M_large.jpg?v=1549388977" data-src="https://cdn.shopify.com/s/files/1/1410/9094/products/resized_0003_Wynter_M_large.jpg?v=1549388977" alt="WYNETR by ESTETICA in RH1488 | Dark Blonde w/Lightest Blonde Highlights">
        
      </div>
    </a>
    </div>

  </div>

 

  <div class="product-info"> 
    <a href="/collections/custom-valentines-day-collection/products/wynter-synthetic-wig-estetica"> 
      <p>Wynter | Synthetic Lace Front Wig  | 13 
      Colors</p>
      <h3></h3>
    </a>
    <div class="price">
      
      <div class="onsale">$216.00</div>
      <div class="was">$239.96</div>
       
    </div>
  <!-- reviews star rating -->
      <div style="margin: 10px 0px;"><span class="spr-badge" id="spr_badge_2122097786991" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i><i class="spr-icon spr-icon-star-empty" style="color: #c41949;"></i></span><span class="spr-badge-caption">No reviews</span>
</span>
</div>
<!-- end reviews star rating -->
  </div>

        


    </div>
    
  </div>     
</div>
</div>
  
  
  <div class="homepage-section">
    <h2 style="margin-top:0px;">Shop by Collection</h2>
  </div>
<p>&nbsp;</p>

  
  
  
<div class="gridlock-fluid"><div class="row">
<div class="row homepage-section">      
  





 


<div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
<a href="/collections/ellen-wille">
<img src="//cdn.shopify.com/s/files/1/1410/9094/t/2/assets/image_grid7.jpg?10641525791917355611" alt="">
<div class="caption"><h3></h3>
<p>SHOP ALL Ellen Wille</p>
</div>
</a>
</div>

  





 


<div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
<a href="/collections/raquel-welch">
<img src="//cdn.shopify.com/s/files/1/1410/9094/t/2/assets/image_grid8.jpg?10641525791917355611" alt="">
<div class="caption"><h3></h3>
<p>SHOP ALL RAQUEL WELCH</p>
</div>
</a>
</div>

  





 


<div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
<a href="/collections/jon-renau-wigs-hairpieces">
<img src="//cdn.shopify.com/s/files/1/1410/9094/t/2/assets/image_grid9.jpg?10641525791917355611" alt="">
<div class="caption"><h3></h3>
<p>SHOP ALL JON RENAU</p>
</div>
</a>
</div>

  





 


<div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
<a href="/collections/noriko">
<img src="//cdn.shopify.com/s/files/1/1410/9094/t/2/assets/image_grid10.jpg?10641525791917355611" alt="">
<div class="caption"><h3></h3>
<p>SHOP NORIKO</p>
</div>
</a>
</div>

  





 


<div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
<a href="/pages/wigs-com-all-about-us">
<img src="//cdn.shopify.com/s/files/1/1410/9094/t/2/assets/image_grid11.jpg?10641525791917355611" alt="">
<div class="caption"><h3></h3>
<p>WHY WIGS.COM?</p>
</div>
</a>
</div>

  





 


<div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
<a href="/collections/louis-ferre-wigs-hairpieces">
<img src="//cdn.shopify.com/s/files/1/1410/9094/t/2/assets/image_grid12.jpg?10641525791917355611" alt="">
<div class="caption"><h3></h3>
<p>Shop All Louis Ferre</p>
</div>
</a>
</div>

        
</div>
</div></div>

<div class="gridlock-fluid"><div class="row">
<div class="row homepage-section">      
  





 

      
      <div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
        <a href="/collections/short-wigs">
          <img src="//cdn.shopify.com/s/files/1/1410/9094/t/2/assets/image_grid1.jpg?10641525791917355611" alt="">
          <div class="caption"><h3></h3>
            <p>SHOP ALL SHORT WIGS</p>
          </div>
        </a>
      </div>
      
  





 

      
      <div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
        <a href="/collections/long-wigs">
          <img src="//cdn.shopify.com/s/files/1/1410/9094/t/2/assets/image_grid2.jpg?10641525791917355611" alt="">
          <div class="caption"><h3></h3>
            <p>SHOP ALL LONG WIGS</p>
          </div>
        </a>
      </div>
      
  





 

      
      <div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
        <a href="/collections/colored-wigs">
          <img src="//cdn.shopify.com/s/files/1/1410/9094/t/2/assets/image_grid3.jpg?10641525791917355611" alt="">
          <div class="caption"><h3></h3>
            <p>SHOP ALL COLORED WIGS</p>
          </div>
        </a>
      </div>
      
  





 

      
  





 

      
  





 

      
        
</div>
</div></div>
<div class="gridlock-fluid"><div class="row">
<div class="row homepage-section">      

      
      <div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
        <a href="/collections/human-hair">
          <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/10.jpg?17772949613898789182" alt="">
          <div class="caption"><h3></h3>
            <p>SHOP ALL HUMAN HAIR</p>
          </div>
        </a>
      </div>
      
  
      <div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
        <a href="/collections/lace-front-wigs">
          <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/11.jpg?17772949613898789182" alt="">
          <div class="caption"><h3></h3>
            <p>SHOP ALL LACE FRONT</p>
          </div>
        </a>
      </div>
      
      
      <div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
        <a href="/collections/new-arrivals">
          <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/12.jpg?17772949613898789182" alt="">
          <div class="caption"><h3></h3>
            <p>SHOP ALL NEW ARRIVALS</p>
          </div>
        </a>
      </div>
      
      
</div>
</div></div>
<!-- end second row -->




  
  
  
</div>
















{%comment%}
<div id="page" class="desktop-12 tablet-6 mobile-3">
<style>
    .homepage-section h2{margin-top:25px;}
  #mobile-banners-container {display: flex;flex-wrap:wrap;justify-content:space-around;}
  @media only screen and (min-width: 740px){
  
    #mobile-banners-container {display:none;}
  
  }
	
  </style>

<h1>{{ page.title }}</h1>

  {% assign hide_banner = "" %}
  {%if page.handle == "free-gift" %}
	{%assign hide_banner = "mobile-hide" %}
  	<div id="mobile-banners-container">
		<div id="mobile_banner_1">
  			<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/1901_halfbannerForMobile_freeGift.jpg?15478478718298944874">
  		</div>
		<div id="mobile_banner_2">
			<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/1901_halfbannerForMobile_freeGifttextwithBM.jpg?15478478718298944874">
  		</div>
  	</div>
{%endif%}

  
  
<img src="{{ page.metafields.template.banner }} " class="{{hide_banner}}" />
{{ page.content }}


  
  
{% assign cols = "wigs" %}
{% assign cols_array = cols | split : "," %}


  
  
{% for cols_string in cols_array %}
{% assign collection = collections[cols_string] %}

  
  


{%if page.metafields.template.collection != "" %} 

{% assign collection = collections[page.metafields.template.collection] %}
{%assign second_collection_link_text  = ""%}
{%assign second_collection_limit  = 4%}
{% assign second_collection_link_href = "" %}
{%endif%}

<div class="row homepage-section no-fouc" >  
  {% if settings.homepage-product-display == 'grid' %}
  {% include 'product-grid' with collection %}
  {% elsif settings.homepage-product-display == 'carousel' %}
  {% include 'product-carousel' with collection %}
  {% endif %}
</div>
{% endfor %}  
  
  


{%if page.handle == "valentines-day-sale-2019"  %}  
{% assign collection = collections['custom-collection-jon-renau-california-blondes'] %}
{% assign second_collection_link_text = "Shop New Jon Renau California Blondes" %}
{% assign second_collection_link_href = "/collections/smart-lace-human-hair-collection" %}
{%assign second_collection_limit  = 4%}
  
<div class="row homepage-section no-fouc" >  
  {% if settings.homepage-product-display == 'grid' %}
  {% include 'product-grid' with collection %}
  {% elsif settings.homepage-product-display == 'carousel' %}
  {% include 'product-carousel' with collection %}
  {% endif %}
  
</div>
{%endif%}

  
  
  
  
  <div class="homepage-section" >
    <h2 style="margin-top:0px;">Shop by Collection</h2>
  </div>
<p> </p>

  
  
  
{% include 'homepage-image-gallery-2' %}
{% include 'homepage-image-gallery-1' %}

  
  
  
</div>
{%endcomment%}