{% include "searchresults" %}
<style>
  div#content.row a{text-decoration:underline;}
</style>
<div id="page" class="desktop-12 tablet-6 mobile-3">
<h1>Search Results {{ searchQuery }}</h1>
{{ page.content }}
</div>