
<div id="page" class="desktop-12 tablet-6 mobile-3">


  <style><!--
div#content.row a{text-decoration:none;}
#page ul{padding-left: 0px;}
picture img {min-width:100%}
  ul.flex-direction-nav{display:none;}

    #first-par h2  {
      font-size: 1.5em;
      text-align: left;
      border: none;
      font-weight: bold;
      color: #c41949;
	}

  #beautiful-img-container{text-align:center;}
  
  
    
  #meet-the-team h2, #website-links h2{font-family: "Times New Roman, Times, serif";
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: lighter;clear:both;}
  
    .emp{text-align:center;}
  .emp-title {color: #61b4e4;font-size: 18px;}
  .emp-name {font-size: 14px;color: #838b8f;}
  
  
    .slides{
      list-style-type:none; 
    }
    
  	.slides li.emp {object-fit: none;}
    #slider-controls-container{

      min-height:70px;
    }
  
  
  
  .box-link{margin: 20px;text-align: center;}
  .box-link a{text-transform: uppercase;font-size: 18px;font-weight: lighter;padding: 5px 20px;border: 1px solid black;text-decoration:none;}
  
  
  #mobile-five-advantages * {color:#fff;}
  #mobile-five-advantages-title {margin-top: 15px;}
  
  #mobile-five-advantages-title h2,#mobile-five-advantages h3 {font-weight:bold;}

  
  
    #mobile-five-advantages ul{border-left: 2px solid white;border-top:none;list-style-type: none;padding: 15px 2px;margin: 15px 2px; counter-reset: advantages-counter;}
  #mobile-five-advantages ul li{counter-increment:advantages-counter;}
  #mobile-five-advantages ul li::before {
    float:left;
  content: counter(advantages-counter);
  font-weight: bold;
  font-size: 6rem;
  margin-right: 0.5rem;
  font-family: Helvetica, Arial, serif;
  line-height: 1;
    
}
  
   .custom-controls-container-2 .flex-control-paging li a {background:rgba(255,255,255,0.5);}
  .custom-controls-container-2 .flex-control-paging li a.flex-active {background:white;} 
  
  
  
    #women-changed-by-wigs h2{font-size: 1.5em;
    text-align: left;
    border: none;
    font-weight: bold;
    color: #c41949;margin-top:30px;}
  h3.wigs-pink {color: #c41949;
    font-weight: lighter;
    text-transform: uppercase;
    word-spacing: -4px;}
  #women-changed-by-wigs p{margin:30px 0;}

    	  blockquote{padding:0px;position:relative;text-indent: 40px;color:#04d4d;margin-top:1.5em;}
  blockquote::before { content: "\201C";
    color: #ddd;
    font-size: 6em;
    position: absolute;
    left: -50px;
    top: 22px;}
  
  
 
  
  #video-channel-links-container ul{ display:inline-block; margin:0;padding:0px 5px;list-style-type:none; text-align:left;}
  #video-channel-links-container ul li {    background-image: url(https://cdn.shopify.com/s/files/1/2636/2774/files/YTIcon.png?367);
    background-repeat: no-repeat;
    padding-left: 46px;
    height: 40px;
    font-size: 12px;}
  #video-channel-links-container ul li a {font-weight:bold;text-decoration:underline;}
  
  
  

      .smaller-font *{font-size:12px;}
  .smaller-font a {text-decoration:underline;}
  .journey-stores-slides li h3.wigs-pink{text-transform:capitalize;}
  .journey-image-container{overflow: auto;display: inline-block;background-color: transparent;border-radius: 100px;}
  
  
  


  #logo-bottom {text-align:center;position:relative;}
  
  #net-promoter {margin:60px auto;}
  #net-promoter h3{  
    width: 100%;
    background-color: #eee;
    text-transform: none;
    text-align: center;
    font-weight: lighter;
    padding: 11px 0px;}
    #final-hr{background-color:#999;}
    
    #final-links{margin-top:75px;}
#final-links >div {margin-bottom:30px;}
  
  /* -----------------------  mobile and desktop  ----------------------- */
  
  
  
  
  
@media only screen and (max-width: 420px){
  #beautiful-img-container  {position:relative;width: 100%;
    height: 100px;}
    
  #beautiful-img-container img {position: absolute;
    left: 40%;
    top: -30px;}
  
  #mobile-five-advantages ul li::before{font-size:5em;}
  
}
  
  
  
  
  
  @media only screen and (min-width: 420px){
    #meet-the-team h2{text-align:center;}
    #mobile-five-advantages ul li::before{font-size:6em;}
  	
  }
  
  

  
  
  @media only screen and (min-width: 800px){  
    	section{margin:60px 0px;}
        section#top-section{display:flex;justify-content:space-around;}
  		section#top-section > div{width:48%;max-width:520px;}
    	#first-par h1 {text-align:left;}
  		
    
    	#meet-the-team-header{display: flex;justify-content:center;}
		#meet-the-team h2{text-align:center;font-size:1em;}
    	#beautiful-img-container{text-align: center;position: relative;}
    	#beautiful-img-container img {    position: relative;top: -33px; }
    
    	#team-members-mobile{display:none;}
    	#team-members > div{ margin:20px 0px;}
    	.emps{list-style-type:none !important; list-style-type: none;display: flex;justify-content: space-evenly;}
    	u.emps li {display: inline-block;}
    	#mobile-five-advantages {width: 90%;padding:25px;margin:0 auto;height:284px;display:flex;justify-content:space-between;}
		#mobile-five-advantages{background-image:url('https://cdn.shopify.com/s/files/1/2636/2774/files/Why-Wigscom_EV_V2.png?156');background-position:25% 0px;}
    	#mobile-five-advantages-title {width: 44%;}
    #mobile-five-advantages .slides{width:44%;    padding-left: 30px;margin-top:0px;}
    #mobile-five-advantages h3{margin-top:0px;}
  #mobile-five-advantages-title p {margin:0px;}
    
    #advantages {position:relative;}
    #advantages .flex-control-nav.flex-control-paging{right: 140px;bottom: 0px;width:auto;}

    
        		#women-changed-container,.flex{display:flex;justify-content:space-between;}
    #women-changed-container > p{width:40%}
    .flex {display: flex;
    justify-content: space-around;
    width: 50%;}
    #jessica-image{width:40%;}
    #meet-jessica{width:56%;}
    #jessica-video-link{text-align:right;}
    #video-links > div{display: flex;justify-content: space-between;}
    
    .mobile{display:none;}
    
    #website-links-header{display: flex;
    justify-content: center;
      font-size: 1.2em;display:relative;}
    #website-links-header .beautiful-image-container{position:relative;bottom:30px;}
    
    #website-links-container{display:flex;justify-content:space-between;flex-wrap:no-wrap;}
    #website-links-container div {width:23%;}
  
    #video-channel{display:flex;background: linear-gradient(    0deg, 
      #fff,
      #fff 15%,
      #ddd 15%,
      #ddd 85%,
      #fff 85%);}
    
    #video-channel-image-container{width:50%;}
    
  

  .video-link {width:23%;text-align:center;}
  
  .video-link a{font-weight:bold;display:block;margin-top:10px;}
	
    
  #video-channel-image-container img {padding-left: 60px}
  #video-channel-links-container {    padding-top: 6%;}
  #net-promoter h3 {font-size: 2em;}
    
  }
  
  

  
 
@media only screen and (max-width: 800px){  
  .desktop {display:none;}
  hr {display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bbb;
    margin: 1.5em 0;
    padding: 0; }  

  

  #team-members-mobile{
/*   	display:none; */
    width:200px;
    margin: 0px auto;
    clear:both;
  }
  
  #team-members{display:none;}
  #wig-experts-logo{
  	margin-bottom: 20px;
  }
 
  .custom-controls-container{position:relative;}

  
  #mobile-five-advantages{background-color:#5d5141;padding:15px;}
  
  #mobile-five-advantages ul{border-top: 1px solid white;border-left:none;}
  

  #mobile-five-advantages ul li h3,#mobile-five-advantages ul li p{float:left;}
  #mobile-five-advantages ul li h3 {margin-top: 10px;}
  #mobile-five-advantages ul li p{width:80%;font-size: 14px;}
    #mobile-five-advantages h3{margin-top:15px;}
  #mobile-five-advantages-title p {margin: 15px 0px;}
  .custom-controls-container-2{position: relative;bottom: 50px;width: 140px;}
	

  .flex { display:flex;}
  #jessica-image{width:33%;}
  #meet-jessica{width: 60%;padding:0px;margin-left:18px;}
  
  #video-links{display:none;}
  #website-links {text-align:center;}
  #website-links-container {display: flex;margin-top: 20px;flex-wrap: wrap;justify-content: space-between;width: 100%;flex-direction: row;}
  #website-links-container div{width: 48%;margin-bottom:10px;}
  #video-channel{margin:30px 0px;position:relative; background: linear-gradient(0deg, #ddd 75%, #fff 75%);text-align:center;}

  #logo-container {position: relative;top: -40px;background-color: #fff;display: inline-block;padding: 0 7px;}
  
  #net-promoter h3 {font-size: 1.4em;}
  
  
}
  
  

  
  @media only screen and (max-width: 980px){  
  #your-journey-stories-desktop	{display:none;}
      #your-journey-stories-mobile{position:relative;top:-92px;}
  #your-journey-stories-mobile ul li {text-align:center;}
  
  #your-journey-stories-mobile ol.flex-control-nav.flex-control-paging {position:static;}
  
    #your-journey-background{background-image: url("https://cdn.shopify.com/s/files/1/2636/2774/files/Rose_Gold_Small_copy.jpg?177"); background-size: 100%;height: 200px;text-align:center;}
    
  }  

  
  
    @media only screen and (min-width: 980px ){ 
  
  
   	#meet-the-team h2{text-align:center;font-size:1.4em;}
  
  	.flex-control-nav.flex-control-paging {bottom: 22px;width:auto;right: 300px;}
  	#mobile-five-advantages-title{width:30%}
    #video-channel-links-container ul li{font-size:16px;}
  	#video-channel-links-container {    padding-top: 7%;}
  	#your-journey-stories-mobile	{display:none;}
    #your-journey-stories-desktop{position: relative;bottom: 80px;}
    #your-journey-stories-desktop ul.journey-stores-slides {list-style-type:none;display: flex;justify-content: space-around;text-align: center;}
    #your-journey-background{background-repeat:no-repeat;background-image: url("https://cdn.shopify.com/s/files/1/2636/2774/files/yourjourneyisourjourney_banner.png?698"); background-size: 100%;height: 230px;text-align:center;}
    #your-journey-background img {display:none;}
    #logo-container {position: relative;top: -25px;background-color: #fff;display: inline-block;padding: 0 7px;}
    #final-links{display:flex;justify-content:center;flex-wrap:no-wrap;}
    #final-links div.box-link {min-width: 30%;display:inline-block;}
      
  }
    
    
  #wigs-perks {
  			
    display:flex;
    flex-wrap:wrap;
  	justify-content:space-between;
    margin:0 0 50px 0;
  }
   
  @media only screen and (max-width: 1220px) {
  
    #wigs-perks .perk {
    font-size: 12px;
    max-width:90%;
    min-width:80%;
         margin:30px auto;
  	padding-left:5%;
    text-align:center;
      display:inline-block;
    }
    

    
  
  }
  
  @media only screen and (min-width: 1220px) {
  
		  
  #wigs-perks .perk {
  			
    max-width:32%;
    min-width:31%;
    
     margin-bottom:100px;
  	padding-left:20px;
  }  
    
    

    
}


  
   #wigs-perks .perk img{
  			width:24%;
     		float:left;
     		margin-right:20px;
  }
   #wigs-perks .perk > div{
  			width:68%;
     		float:left;
  }
  
  
  #wigs-perks .perk div h2{
  
  	font-family: Helvetica, Arial, sans-serif;
    font-size:20px;
    font-weight:bold;
  }
  
  
  
  #wigs-perks .perk-list{
  
/*   	list-style-type: none; */
     list-style-position:inside;
     
  	
  }
  .perk-list > li span{
  	position:relative;
    left: -4px;
  }
  
  .perk-list ul > li{
  	    list-style-type:none;
  }
  
  .perk-list ul > li:before {
  
        content: "- ";
  		text-indent: 5px;
    }
    
    
--></style>
<div><picture> <source srcset="https://cdn.shopify.com/s/files/1/2636/2774/files/The-Experience_Banner_Mobile.png?143" media="(max-width: 800px)" /> <img src="https://cdn.shopify.com/s/files/1/2636/2774/files/The-Experience_Banner.png?143" /> </picture></div>
  
  
<section id="wigs-perks">

  
    <div class="perk">
		<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/theWigExperts_icon_96d69811-6f63-448c-923a-f2f41c6497cd.png?46707">
      <div>
        <h2>The Wig Experts</h2>
		<ul class="perk-list">
          <li><span>Hands-On Care and Service</span></li>
          <li><span>Licensed cosmetologists and hair stylists</span></li>
        </ul>
      </div>
    </div>

    <div class="perk">
		<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/FastShipping_icon-02.png?46722" id="truck-image">
      <div>
      	<h2>Fast Shipping</h2>
        <ul class="perk-list">
          <li><span>Shipped Same Day</li>
          <ul>
          <li><span>Applies to 70% of our products</span></li>
          <li><span>Must be placed before 4 PM CST</span></li>
          <li><span>Excludes Holidays and Weekdays</span></li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="perk">
      	<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/EasyReturnsNoRestocking_icon_0c55a1cc-adf2-4f86-9573-7d90603fa828.png?46707">
      <div>
      <h2>Easy Returns and No Restocking Fees</h2>
        <ul class="perk-list">
          <li><span>Hassle-free returns</span></li>
          <li><span>No restocking fees</span></li>
          <li><span>Print your label from home</span></li>
        </ul>
      </div>
    </div>

    <div class="perk">
      
      <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/MonthlyPromotions_icon_3788680d-0a82-45b4-8be1-4f3ab98277db.png?46707">
      <div>    
      	<h2>Monthly Promotions</h2>          
        <ul class="perk-list">
          <li><span>Giveaways and Contests</span></li>
          <li><span>Free Gifts with Qualfiying Purchases</span></li>
          <li><span>Exclusive Sales and Discounts</span></li>
        </ul>
      </div>
    </div>

    <div class="perk">
      
        
      	<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Toprated_icon_04d85dcc-6a58-4bcb-8593-eac4179e6b05.png?46707">
      <div>
      	<h2>Top Rated</h2>
        <ul class="perk-list">
          <li><span>3,000 + Reviews</span></li>
          <li><span>Trusted for 20+ Years</span></li>
        </ul>
      </div>
    </div>

    <div class="perk">
     	 	<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/BasedInAmerica_icon_617ee57a-63e1-4aa1-a2ef-a3cae7b01fa2.png?46707"> 	
        
      <div>
     	<h2>Based in America</h2>
        <ul class="perk-list">
          <li><span>Orders shipped from USA</span></li>
          <li><span>Proud to be American</span></li>
        </ul>
      </div>
    </div>

  
</section>
  
  
<section id="top-section">
  <div id="wig-experts-logo"><h1><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/The-Wig-Experts-Logo.png?146" alt="The Wigs.com Experience"></h1></div>
<div id="first-par">
<h2>We take the guesswork out!</h2>
<p>With personal picks from our Wig Experts, who are licensed cosmetologists, professional hair stylists, and wig lovers, we show you only the best to help you make the right choice. Because our team tries everything first, we are able to show you the best selection of brands and styles, along with useful guides and tips. If you ever have a question or need personalized advice, call or email us. We’re here to help every step of the way!</p>
</div>
</section>
<hr />
<section id="meet-the-team">
<div id="meet-the-team-header">
<h2>We believe everyone can and deserves to be</h2>
<div id="beautiful-img-container"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/beautiful.png?147" /></div>
</div>
<div id="team-members">
<div>
<ul class="emps">
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Tanya-2.png?19220" alt="" /><!-- <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/EmployeeHeadshots_tanya.jpg?18288848230874183611" alt="" /> -->
<div class="emp-title">Client Care Manager</div>
<div class="emp-name">Tanya Kolb</div>
</li>
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Kerry_clientCare_updated1911_4037ea99-968b-4939-8221-16b296f35a4b.jpg?54207" alt="" />
<div class="emp-title">Asst. Manager of Sales &amp; Client Care</div>
<div class="emp-name">Kerry Smith </div>
</li>
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/EmployeeHeadshots_0006_Allie.jpg?10655349306167434153" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">Allie Santos</div>
</li>
<!-- <li class="emp"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/EmployeeHeadshots_0011_Alex.jpg?10655349306167434153" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">Alex Kautz</div>
</li> -->
</ul>
</div>
<div>
<ul class="emps">
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/EmployeeHeadshots_0009_Sofia.jpg?10655349306167434153" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">Sophia Suleman</div>
</li>
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Antonia-ClientCare_updated1911_fbc3a8f4-6249-4207-b768-201fadd073e1.jpg?54207" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">Antonia Johnson</div>
</li>
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/N_Kesha_b4c1d844-5001-432c-b8ad-e275947b158e.png?41489" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">N’Kesha Shepherd </div>
</li>
</ul>
</div>
<div class="box-link"><a href="/pages/meet-the-wig-experts-team">Meet the rest of the team ›</a></div>
</div>
<div id="team-members-mobile" class="flexslider2">
<ul class="slides">
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Tanya-2.png?19220" alt="" /><!-- <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/EmployeeHeadshots_tanya.jpg?18288848230874183611" alt="" />-->
<div class="emp-title">Client Care Manager</div>
<div class="emp-name">Tanya Kolb</div>
</li>
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Kerry_clientCare_updated1911_4037ea99-968b-4939-8221-16b296f35a4b.jpg?54207" alt="" />
<div class="emp-title">Asst. Manager of Sales &amp; Client Care</div>
<div class="emp-name">Kerry Smith</div>
</li>
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/EmployeeHeadshots_0006_Allie.jpg?10655349306167434153" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">Allie Santos</div>
</li>
<!-- <li class="emp"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/EmployeeHeadshots_0011_Alex.jpg?10655349306167434153" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">Alex Kautz</div>
</li> -->
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/EmployeeHeadshots_0009_Sofia.jpg?10655349306167434153" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">Sophia Suleman</div>
</li>
  {% comment %}
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/EmployeeHeadshots_0008_Erin.jpg?10655349306167434153" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">Erin Pendergraft</div>
</li>
    {% endcomment %}
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Antonia-ClientCare_updated1911_fbc3a8f4-6249-4207-b768-201fadd073e1.jpg?54207" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">Antonia Johnson</div>
</li>
<li class="emp"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/N_Kesha_b4c1d844-5001-432c-b8ad-e275947b158e.png?41489" alt="" />
<div class="emp-title">Client Care Rep</div>
<div class="emp-name">N’Kesha Shepherd </div>
</li>
</ul>
<div id="slider-controls-container">
<div class="custom-controls-container"></div>
</div>
</div>
</section>
<section id="advantages">
<div id="mobile-five-advantages">
<div id="mobile-five-advantages-title">
<h2>Our 5 Advantages</h2>
<p>At the very foundation of wigs.com, of everything we do, are 5 Core Values. They guide us as we make decisions to become advocates and industry experts.</p>
</div>
<ul class="slides">
<li>
<h3>Fast Shipping</h3>
<p>At wigs.com we offer the fastest “Order to Delivery” time in the industry.</p>
</li>
<li>
<h3 style="font-size: 22px;">Hassle-Free Returns</h3>
<p>We're known for hassle-free returns, and we've now made them even easier with no return/restocking fees and return labels you can print at home!</p>
</li>
<li>
<h3>Expert Advice</h3>
<p>The Wig Experts want to make you an expert, too. With Wigs101 educational videos and amazing tips and tricks right at your fingertips, we’re doing just that!</p>
</li>
<li>
<h3>Premium Brands</h3>
<p>Our world-renowned brands are a big part of who we are! For you, we only want the very best – and nothing less.</p>
</li>
<li>
<h3>Industry Leaders</h3>
<p>For 20 years, Wigs.com has been the number one wig retailer in the industry, and it’s all thanks to our amazing and loyal clients like you!</p>
</li>
</ul>
</div>
<div id="slider-controls-container-2">
<div class="custom-controls-container-2"></div>
</div>
</section>
<section id="women-changed-by-wigs">
<h2>Women Changed by Wigs</h2>
<h3 class="wigs-pink">Stories of Hope</h3>
<div id="women-changed-container">
<p>Our Stories of Hope video series, exclusive to Wigs.com, highlights some amazing women and shares their journey through wearable hair – whether from hair loss or for fashion. What they all have in common is that wigs have made them feel confident and beautiful. We hope they inspire you as much as they’ve inspired us!</p>
<div class="flex">
<div id="jessica-image"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/AmazingStories_circles_0003_Jessica_copy.jpg?161" /></div>
<div id="meet-jessica">
<h3 class="wigs-pink">Meet Jessica</h3>
<blockquote id="jessica-quote">Wearing a wig its not the end, it can be the beginning - A wig can give you so much, and it can be so fun! It changes you completely.</blockquote>
</div>
</div>
</div>
<div id="jessica-video-link" class="box-link"><a href="/pages/jessica-one-woman-stories">Watch Video ›</a></div>
</section>
<section id="video-links">
<div>
<div class="video-link"><a href="/pages/one-woman-stories-kim"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/OWS_icons_V2_0000s_0001_Kim_hammon.jpg?166" /></a> <a href="/pages/one-woman-stories-kim">Kim's Story</a></div>
<div class="video-link"><a href="/pages/one-woman-stories-emily"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/OWS_icons_V2_0001s_0001_Emily.jpg?166" /></a> <a href="/pages/one-woman-stories-emily">Emily's Story</a></div>
<div class="video-link"><a href="/pages/one-woman-stories-dana"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/OWS_icons_V2_0002s_0001_Dana.jpg?166" /></a> <a href="/pages/one-woman-stories-dana">Dana's Story</a></div>
<div class="video-link"><a href="/pages/one-woman-stories-marilyn"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/OWS_icons_V2_0003s_0001_Marilyn.jpg?166" /></a> <a href="/pages/one-woman-stories-marilyn">Marilyn's Story</a></div>
</div>
</section>
<hr />
<section id="website-links">
<h2 class="mobile">Empower, Discover,<br /> share and advocate for</h2>
<div id="website-links-header">
<h2 class="desktop website-links-header">Empower, Discover share and advocate for</h2>
<div class="beautiful-image-container"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/Beauty.png?173" /></div>
</div>
<div id="website-links-container">
<div><a href="/pages/news-feed"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/empDiscForAdv_0003_blog_and_news_copy.jpg?172" /></a></div>
<div><a href="/apps/help-center#!start-with-our-wig-buyers-guide"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/empDiscForAdv_0001_FAQ_S_copy.jpg?173" /></a></div>
<div><a href="https://www.wigs.org/"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/empDiscForAdv_0002_the_forum_copy.jpg?173" /></a></div>
<div><a href="/pages/advice-how-tos"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/empDiscForAdv_0000_advice_and_tips_copy.jpg?173" /></a></div>
</div>
</section>
<section id="video-channel">
<div id="video-channel-image-container"><a href="/pages/wig-videos"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/wigs101_icon_d4ee9390-048f-446d-8f21-bec2a18b9b24.png?176" /></a></div>
<div id="video-channel-links-container">
<ul id="video-channel-links">
<li><a href="https://www.wigs.com/pages/wig-videos?video=1">Wig Cap Constructions</a></li>
<li><a href="https://www.wigs.com/pages/wig-videos?video=2">Basic Cap Construction</a></li>
<li><a href="https://www.wigs.com/pages/wig-videos?video=3">Lace Front Cap Construction</a></li>
</ul>
</div>
</section>
<section id="your-journey">
<div id="your-journey-background"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/yourJourneyisourJourney_mobile.png?383" /></div>
<div id="your-journey-stories-desktop">
<ul class="journey-stores-slides">
<li>
<div>
<div class="journey-image-container"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/AmazingStories_circles_0001_Johanna_upstage_copy.jpg?383" /></div>
<h3 class="wigs-pink">Johanna's Story</h3>
<div class="smaller-font"><span>Johanna Wearing <a href="/products/upstage-lace-front-wig-raquel-welch">Upstage</a> by <a href="/collections/raquel-welch-wigs">Raquel Welch</a></span></div>
<div class="box-link"><a href="/pages/amazing-stories-johannas-story">Read Her Story ›</a></div>
</div>
</li>
<li>
<div>
<div class="journey-image-container"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/AmazingStories_circles_0002_Susan_gisele_copy.jpg?383" /></div>
<h3 class="wigs-pink">Susan's Story</h3>
<div class="smaller-font"><span>Susan Wearing <a href="/collections/womens-wigs/products/gisele-smart-lace-wig-jon-renau">Giselle</a> by <a href="/collections/jon-renau-wigs-hairpieces">Jon Renau</a></span></div>
<div class="box-link"><a href="/pages/amazing-stories-susans-story">Read Her Story ›</a></div>
</div>
</li>
<li>
<div>
<div class="journey-image-container"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/AmazingStories_circles_0000_Tina_spotlight_copy.jpg?383" /></div>
<h3 class="wigs-pink">Tina's Story</h3>
<div class="smaller-font"><span>Tina Wearing <a href="/products/spotlight-lace-front-wig-raquel-welch">Spotlight</a> by <a href="/collections/raquel-welch-wigs">Raquel Welch</a></span></div>
<div class="box-link"><a href="/pages/hair-loss-journeys-tinas-story">Read Her Story ›</a></div>
</div>
</li>
</ul>
</div>
<div id="your-journey-stories-mobile">
<ul class=" slides journey-stores-slides">
<li>
<div>
<div class="journey-image-container"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/AmazingStories_circles_0001_Johanna_upstage_copy.jpg?383" /></div>
<h3 class="wigs-pink">Johanna's Story</h3>
<div class="smaller-font"><span>Johanna Wearing <a href="/products/upstage-lace-front-wig-raquel-welch">Upstage</a> by <a href="/collections/raquel-welch-wigs">Raquel Welch</a></span></div>
<div class="box-link"><a href="/pages/amazing-stories-johannas-story">Read Her Story ›</a></div>
</div>
</li>
<li>
<div>
<div class="journey-image-container"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/AmazingStories_circles_0002_Susan_gisele_copy.jpg?383" /></div>
<h3 class="wigs-pink">Susan's Story</h3>
<div class="smaller-font"><span>Susan Wearing <a href="/collections/womens-wigs/products/gisele-smart-lace-wig-jon-renau">Giselle</a> by <a href="/collections/jon-renau-wigs-hairpieces">Jon Renau</a></span></div>
<div class="box-link"><a href="/pages/amazing-stories-susans-story">Read Her Story ›</a></div>
</div>
</li>
<li>
<div>
<div class="journey-image-container"><img src="https://cdn.shopify.com/s/files/1/2636/2774/files/AmazingStories_circles_0000_Tina_spotlight_copy.jpg?383" /></div>
<h3 class="wigs-pink">Tina's Story</h3>
<div class="smaller-font"><span>Tina Wearing <a href="/products/spotlight-lace-front-wig-raquel-welch">Spotlight</a> by <a href="/collections/raquel-welch-wigs">Raquel Welch</a></span></div>
<div class="box-link"><a href="/pages/hair-loss-journeys-tinas-story">Read Her Story ›</a></div>
</div>
</li>
</ul>
</div>
</section>
<hr id="final-hr">
<div id="logo-bottom">
<div id="logo-container"><img width="150" src="https://cdn.shopify.com/s/files/1/2636/2774/files/wigslogo_600x160_bbb31cf9-e058-439a-ada4-4d7e066945b5.png?434" /></div>
</div>
<section><script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async=""></script>
<div class="trustpilot-widget" data-locale="en-US" data-template-id="539adbd6dec7e10e686debee" data-businessunit-id="590362fe0000ff0005a16777" data-style-height="500px" data-style-width="100%" data-stars="5,4" data-schema-type="Organization"> </div>
</section>
  <section id="final-links">
    
    <div class="box-link">
      <a href="/collections/human-hair-wigs">Shop All Human Hair</a>
    </div>
    <div class="box-link">
      <a href="/collections/wigs">Shop All Wigs</a>
    </div>
    <div class="box-link">
      <a href="/collections/new-arrivals">Shop New Arrivals</a>
    </div>
  </section>
<style><!--
.stamped-reviews-message-block {width:160px;}
--></style><style><!--
.stamped-reviews-message-block {width:160px;}
--></style><script>// <![CDATA[
$(document).ready(function(){
  
  	 $('.flexslider2').flexslider({
    	animation: "fade",
		controlsContainer: $(".custom-controls-container"),
  	 });
  
    $('#mobile-five-advantages').flexslider({
    	animation: "fade",
      	controlsContainer: $(".custom-controls-container-2"),
  	 })
    
  	    $('#your-journey-stories-mobile').flexslider({
    	animation: "fade",
      	
  	 })
    
  });
// ]]></script>
  
  
  
</div>