<style>  
  #topper-spotlight-large{display:none;}
  #setup h2 strong{display:block;}
  #page #setup{margin:50px 0px;}
  @media  screen and (min-width: 800px) {
  			
    #content h2#first-heading,#client-cuts h2{text-align:center; text-decoration:none; font-size:2.8em;border:none;margin: 20px 0px;}
    #first-par  p{padding:20px;}
    #videos-container{display:flex;flex-wrap:nowrap;justify-content:space-between;}
    .videos-unit {width: 30%;max-width:30%;}
    .videos-unit iframe{width: 100%;min-height:250px;}
  	#topper-spotlight-large{display: flex;text-align: center;align-items: center;justify-content: center;margin: 40px 0px;}
    #topper-spotlight-large> div{width:30%}
    #topper-spotlight-large img{ max-width: 65%;}
    #topper-spotlight{display:none;}
    
    
    #page #setup h2 strong{display:inline;}
	#page #setup > h2 {font-size:2em;}
    
    #setup-subs-container{display:flex;justify-content:space-between;flex-wrap:nowrap;}
    
    
    
    .setup-sub {width: 33%;padding:20px;}
    .setup-sub ul {margin: 0 auto;width: 85%;}
    
    #client-cuts-videos> div {font-size:1em;}
    #client-cuts-videos{display: flex;justify-content: space-around;}
    #client-cuts-videos> div {width:48%;}
    #client-cuts-videos> div iframe{width:100%;min-height:380px;}
    
    
    
    
  }
  
  
  #content h2#first-heading,#client-cuts h2{text-align:center; text-decoration:none; font-size:2.5em;border:none;margin: 10px 0px;}
  #content h2#first-heading span.thin{font-weight:lighter;}
  #videos-container{background-color:#ddd;padding:15px 5px 0px 5px;text-align:center;}
  #videos-container h2{font-weight:bold;text-transform:uppercase;}
  #videos-container iframe{margin:10px 0;}
  #videos-container iframe#last-video{margin-bottom:0px;}
  #topper-spotlight{text-align:center; padding:15px;}
  #spotlight-container{display:flex;  }
  #spotlight-img{margin-top:22px;margin-right:10px;min-width:140px;}
	#spotlight-quote p{font-style:italic;}
  #client-cuts p{text-transform:uppercase;text-align:center;font-size:80%;}
  
  
  #setup h2,#setup h3{font-weight:lighter;background-color:#425442;color:#DCDCDC;font-size:1.2em;text-align:center;padding:5px;text-transform:uppercase;background-color:#425442;}
  
  
  
  .setup-sub{margin:10px 0px;background-color:#425442;color:#fff;padding:10px 3px 20px 3px;}
  .setup-sub ul {font-size:80%;}
  
  
  #client-cuts-videos{background-color:#ddd;padding:0 10px;padding:3px 5px 0px 5px;text-align: center;}
  #client-cuts-videos h2{font-weight:bold;text-align:center;text-transform:uppercase;font-size:1.2em;padding:5px 0px;}
  }
  
  

  
</style>
<div id="page" class="desktop-12 tablet-6 mobile-3">
<h1>{{ page.title }}</h1>
{{ page.content }}
  

  
<picture>

      <source srcset="https://cdn.shopify.com/s/files/1/1410/9094/files/Toppers-Page-Banner_copy.jpg?51097" media="(min-width: 800px)"> 	
      <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Mobile-Hero-Toppers-EDU_copy.jpg?51097">  
	
</picture>  
  
  
  <h2 id="first-heading"><span class="thin">Visual</span> <strong>Education</strong></h2>
  
  
<div id="first-par">
    <p>At Wigs.com we want you to feel empowered with knowledge &amp; confidence when choosing your next topper, or top piece. Feel armed for success with our visual education serires, customer testimonials &amp; tips for overall success! Want even more hands on assistance? We would love to help! Call <strong>1-800-581-2001</strong> to speak with a Wig Expert! For more videos visit the wigs.com YouTube channel!</p>
</div>
  

  
  

  
  <section id="videos-container">
    
    <div class="videos-unit">
    <h2>Back to Basics</h2>
    <div class="video-container">
    <iframe class=""  src="https://www.youtube.com/embed/mk86Saut6Mo?rel=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
    </div>
    
    <div class="videos-unit">
    <h2>Finding your fit</h2>
    <div class="video-container">
    <iframe class=""  src="https://www.youtube.com/embed/qxJyh8CKfPg?rel=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
    </div>
    
    <div class="videos-unit">
    <h2>Tips & tricks</h2>
    <div class="video-container">
    <iframe id="last-video"  class=""  src="https://www.youtube.com/embed/dUAQJmjjZas?rel=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
    </div>
    
    
    
  </section>
  
  <div id="topper-spotlight">
    <p>Topper Spotlight: Jon Renau easiPart HH 12&quot;</p>
    <div id="spotlight-container">
    <div id="spotlight-img"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/topper-circle.jpg?50539"></div>
    <div id="spotlight-quote"><p>"The topper provides coverage and adds volume to fine hair without being noticed by my friends. This is the fourth hair piece I've ordered of its kind."<br> - LynnAnn from Ohio</p></div>
    </div>
  </div>
  
  <div id="topper-spotlight-large">
    <div>
    <h3>Topper Spotlight:</h3>
	<p> Jon Renau easiPart HH 12&quot;</p>
    </div>
    
    <div id="spotlight-img"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/topper-circle.jpg?50539"></div>
    
    <div id="spotlight-quote"><p>"The topper provides coverage and adds volume to fine hair without being noticed by my friends. This is the fourth hair piece I've ordered of its kind."<br> - LynnAnn from Ohio</p></div>
    
  </div>
  
  <div id="setup">
    <h2><strong>Setup for success:</strong> Topper tips from the wig experts</h2>
    
    <div id="setup-subs-container">
    <div class="setup-sub">
      <h3>Choosing a <strong>color</strong></h3>
      
      <ul>
        <li>Using the color ring or samples provided, choose the color that best aligns to the biological hair that will be showing. This will help proivde a more natural look.</li>
      </ul> 
      
    </div>
    
    <div class="setup-sub">
      <h3>The perfect <strong>size</strong></h3>
      <ul>
        <li>Visit our topper page to shop your desired level of coverage.</li>
          <li>Remember: A topper is not a full wig!</li>
        <li>Snap topper into sturdy, healthy hair.</li>
      </ul>
    </div>
    
    <div class="setup-sub">
      <h3>Fiber & <strong>Texture</strong></h3>
      <ul>
        <li>Select the fiber and texure best matching your biological hair.</li>
        <li>Heat friendly synthetic or human hair will provide the most styling options!</li>
      </ul>
    </div>
    </div>
  </div>
  

  <section id="client-cuts">
    <h2>Client <strong>Cuts</strong></h2>
    <p>Opinions on or produts directly from clients. Featured this Month: @Allison's.Journey</p>
    
    <div id="client-cuts-videos">
    <div>
      <h2>All about my Hair Topper</h2>
      
      
      <iframe  class="" src="https://www.youtube.com/embed/yM3-4SK9GGs?rel=0" frameborder="0" allowfullscreen=""></iframe>
      </div>
      
      <div>
      <h2>What's new from Ellen Wille</h2>
      
      
      <iframe  class="" src="https://www.youtube.com/embed/JVI9WT32BAI?rel=0" frameborder="0" allowfullscreen=""></iframe>
      </div>
      
    </div>
    
  </section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</div><!-- do not add this closing div!!!!!-->