<style>
div#content.row a{text-decoration:underline;}

.homepage-section h2{margin-top:25px;}
#mobile-banners-container {display: flex;flex-wrap:wrap;justify-content:space-around;}
  
@media only screen and (min-width: 740px){
  
  #mobile-banners-container {display:none;}
}


div#content.row a{text-decoration:none;}
h2#special_link:hover a{color:#c41949!important}
h2#special_link2:hover a{color:#c41949!important}
#price-links{display:none;}
#mobile-price-links ul {margin:0px;padding:0px;display:flex; flex-wrap: nowrap;justify-content:space-between;list-style-type:none;}
#mobile-price-links ul li{width:30%}
#final-brand-tiles{display:none;} 	
#double-header-container{display:flex;flex-wrap:wrap;justify-content:center;}
#double-header-container img{max-height:315px;margin-bottom:5px;}
  
@media only screen and (min-width: 780px) {
    #price-links{display:block;}
    #final-brand-tiles{display:block;} 	
    #mobile-price-links{display:none;}
    #double-header-container > div img{max-height:315px;margin-right:10px;align-self:center;}
    #double-header-container > a img{max-height:315px;margin-right:10px;align-self:center;}
}
</style>

<div class="gridlock-fluid">
<div class="row" >
<div class="row homepage-section" id="price-links">
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/collections/wigs-under-100"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Under-_100_1.jpg?2318" alt="Under $100" /> </a></div>
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/collections/wigs-under-200"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Under-_200_1.jpg?2318" alt="Under $200" /> </a></div>
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/collections/wigs-under-300"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/Under-_300_1.jpg?2318" alt="Under $300" /> </a></div>
</div>
<div id="mobile-price-links">
  <ul>
    <li><a href="/collections/wigs-under-100"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/UNDER-_100_3c684be3-f496-4e99-a65f-9acb03728571.jpg?2895"></a></li>
	<li><a href="/collections/wigs-under-200"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/UNDER-_200_6e75294d-8197-474d-acba-d79623c70f9c.jpg?2895"></a></li>
	<li><a href="/collections/wigs-under-300"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/UNDER-_300_57fd9592-36ef-4cd4-82ef-e5768376b9b1.jpg?2895"></a></li>
  </ul>
  </div>
</div>
</div>
<hr style="color: #e5e5e5; background-color: #e5e5e5; margin: 20px 0px 35px;">
<div class="gridlock-fluid">
<div class="row">
<div class="row homepage-section">
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/new"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/new_35e4c993-577f-4887-8449-16616ded97bc.jpg?53798" alt="New Arrivals">
<div class="caption">
<p>SHOP NEW ARRIVALS</p>
</div>
</a></div>
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/all-wigs"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/wigs_5573ec75-6f90-4799-95b6-3ccc113340ec.jpg?53798" alt="All Wigs">
<div class="caption">
<p>SHOP ALL WIGS</p>
</div>
</a></div>
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/toppers"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/toppers_f339249f-5201-40ba-8366-a005855a57dc.jpg?53798" alt="Toppers">
<div class="caption">
<p>SHOP ALL TOPPERS</p>
</div>
</a></div>
</div>
</div>
</div>
<div class="gridlock-fluid">
<div class="row">
<div class="row homepage-section">
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/short-styles"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/short_fd6ed8f3-e0e4-4e8f-bf3d-4c30f18a07e1.jpg?53798" alt="Short Styles">
<div class="caption">
<p>SHOP SHORT STYLES</p>
</div>
</a></div>
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/mid-length"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/midlength.jpg?53798" alt="Mid-Length Styles">
<div class="caption">
<p>SHOP MID-LENGTH STYLES</p>
</div>
</a></div>
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/long-styles"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/long_582f6418-fb7d-40fb-a4f4-c136fb7bf2de.jpg?53798" alt="Long Styles">
<div class="caption">
<p>SHOP LONG STYLES</p>
</div>
</a></div>
</div>
</div>
</div>
<div class="gridlock-fluid">
<div class="row">
<div class="row homepage-section">
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/lace-front"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/lacefront_4b8f82e0-cedd-42ac-ad6a-e97ecaa12d9c.jpg?53798" alt="Lace Front">
<div class="caption">
<p>SHOP LACE FRONT</p>
</div>
</a></div>
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/human-hair"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/humanhair_abe76b01-c2ab-4f8d-b272-97a8774e0bad.jpg?53798" alt="Human Hair">
<div class="caption">
<p>SHOP HUMAN HAIR</p>
</div>
</a></div>
<div class="homepage-promo desktop-4 tablet-2 mobile-3 "><a href="/synthetic-hair"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/synthetic_c7298b08-faeb-475a-8819-eeb97be093a4.jpg?53798" alt="Synthetic Hair">
<div class="caption">
<p>SHOP SYNTHETIC HAIR</p>
</div>
</a></div>
</div>
</div>
</div>
<hr style="color: #e5e5e5; background-color: #e5e5e5; margin: 20px 0px 35px;">
<div class="row">
<div class="desktop-12 tablet-6 mobile-3" style="width:100%;margin:0px;">
<a href="/brands" target="_blank" title="Shop All Brands" rel="noopener noreferrer"> <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/allbrands.jpg?53807" alt="ALL BRANDS"></a>
</div>
</div>